<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../../styles/main.css">
   <link rel="stylesheet" href="../../styles/layout.css">

   <script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>

   <title>Сохдание категории расходов</title>
</head>
<body>
   <div class="container">
      <form >
         <div class="input-group has-validation mb-3 create-edit">
            
            <input id="createExpensesCategory" type="text" class="form-control is-invalid"  aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" placeholder="Название...">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
             
         <button type="submit" class="btn btn-success" id="createExpensesCategoryBtn">Создать</button>
         <button  class="btn btn-danger" id="cancelBtn">Отмена</button>
       </form>
   </div>
   
</body>
</html>