@font-face {
   font-family: "Roboto-400";
   src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}


@font-face {
   font-family: "Roboto-500";
   src: url(../fonts/Roboto-Medium.ttf) format('truetype');
}

body {
   font-family: 'Roboto-400', sans-serif;
   overflow: scroll;

}

.registration-content {
   max-width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.main-content-wrapper {
   overflow-y: scroll;
   width: 100%;
}

.logo-content {
   margin-bottom: 60px;
}

.title-content {
   margin-bottom: 20px;
   color: #052C65;
   font-size: 40px;
   font-family: "Roboto-500", sans-serif;

}




.form-control::placeholder {
   font-size: 15px;
   line-height: 24px;
   color: #6C757D;


}
/* .input-group input {
   box-sizing: border-box;
   width: 397px;
} */
.income-diagramma canvas {
   border-right: 1px solid #D9D9D9;

}

.days-navigation {
   gap: 20px;
}

.remember-me>label {
   font-size: 12px;
   font-weight: 400;
   line-height: 23px;
   text-align: left;
   color: #000000;

}

.form-check {
   margin-bottom: 20px;
}

.create-edit {
   max-width: 400px;
}

.budgeting-table {
   max-width: 1101px;
}

.days-navigation {
   margin-bottom: 140px;
   margin-left: 60px;
}

.days-navigation li {
   width: 100px;
}

.main-diagramm {
   margin-left: 84px;
}

.btn-container {
   padding-left: 0;
}


.card {

   height: 100%;
   border-radius: 12px;

}