
   <div class="container">
      <form >
         <div class="input-group has-validation mb-3 create-edit">
            
            <input id="editTypeIncome&Expense" type="text" class="form-control is-invalid " placeholder="тип..." aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
          <div class="input-group has-validation mb-3 create-edit">
            
            <input id="editCategoryIncome&Expense" type="text" class="form-control "  placeholder="категория..."  aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" >
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
          <div class="input-group has-validation mb-3 create-edit">
            
            <input id="editSumIncome&Expense" type="text" class="form-control "  placeholder="сумма..."  aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" >
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
          <div class="input-group has-validation mb-3 create-edit">
            
            <input id="dataCreateIncome&Expense" type="text" class="form-control "  placeholder="дата..." aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" >
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
          <div class="input-group has-validation mb-3 create-edit">
            
            <input id="createComment" type="text" class="form-control "  placeholder="комментарий..." aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
             
         <button type="submit" class="btn btn-success" id="createIncomesCategoryBtn">Сохранить</button>
         <button  class="btn btn-danger">Отмена</button>
       </form>
   </div>
