<!-- 
   <div class="container">
      <form >
         <div class="input-group has-validation mb-3 create-edit">
            
            <input id="editTypeIncome&Expense" type="text" class="form-control is-invalid " placeholder="тип..." aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
          <div class="input-group has-validation mb-3 create-edit">
            
            <input id="editCategoryIncome&Expense" type="text" class="form-control "  placeholder="категория..."  aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" >
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
          <div class="input-group has-validation mb-3 create-edit">
            
            <input id="editSumIncome&Expense" type="text" class="form-control "  placeholder="сумма..."  aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" >
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
          <div class="input-group has-validation mb-3 create-edit">
            
            <input id="dataCreateIncome&Expense" type="text" class="form-control "  placeholder="дата..." aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" >
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
          <div class="input-group has-validation mb-3 create-edit">
            
            <input id="createComment" type="text" class="form-control "  placeholder="комментарий..." aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
             
         <button type="submit" class="btn btn-success" id="createIncomesCategoryBtn">Сохранить</button>
         <button  class="btn btn-danger">Отмена</button>
       </form>
   </div> -->
<!-- 
   <div class="container-fluid">
 
    <div class="create-income select container" >
        <select class="form-select" id="type-select" aria-label="Default select example" style="width: 397px; color: #6C757D">
            <option value="type" selected>Тип...</option>
            <option value="income" class="income">Доход</option>
            <option value="expense">Расход</option>
        </select>
        <div class="select" style="width: 397px; margin-top: 10px; height: 38px">
            <select class="form-select" id="category" aria-label="Default select example" >
            </select>
        </div>
        <div style="width: 397px; margin-top: -13px; ">
            <label for="sum" class="form-label"></label>
            <input type="text" class="form-control" id="sum" placeholder="Сумма в $...">
        </div>
        <div style="width: 397px; margin-top: -13px">
            <label for="date" class="form-label"></label>
            <input type="text" class="form-control" id="date" placeholder="Дата..."  onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'">
        </div>
        <div style="width: 397px;margin-top: -13px">
            <label for="comment" class="form-label"></label>
            <input type="text" class="form-control" id="comment" placeholder="Комментарий...">
        </div>

        <button class="btn btn-success" style="margin-right: 10px; margin-top: 20px" id="update-button">Сохранить</button>
        <a href="/income-expenses" type="button" class="btn btn-danger" style="margin-top: 20px">Отменить</a>
    </div>
</div> -->
<div class="container-fluid">
  <div class="form-wrapper">
    <select class="form-select" id="type-select" aria-label="Default select example">
    </select>
    <select class="form-select" id="category" aria-label="Default select example">
    </select>
    <input type="text" class="form-control" id="sum" placeholder="Сумма в $...">
    <input type="text" class="form-control" id="date" placeholder="Дата..." onfocus="(this.type='date')"
      onblur="if(!this.value)this.type='text'">
    <input type="text" class="form-control" id="comment" placeholder="Комментарий...">
    <div class="btn-wrapper">
      <button class="btn btn-success" id="update-button">Создать</button>
      <a href="/incomes-expenses" type="button" class="btn btn-danger">Отменить</a>
    </div>
  </div>

</div>